* {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;
}

.flexbox-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-child {
  height: 40vh;
  width: 25vw;
  background-color: lightcoral;
}

.right-child {
  height: 75vh;
  width: 70vw;
  background-color: lightgreen;
  /* display: inline-block; */

  /* line-height: 90px; */
}

.right-child-text {
  /* text-align: center; */
  /* vertical-align: middle; */
  justify-content: center;
  align-content: flex-end;
  padding: 2vh 5vw 1vh 5vw;
  font-size: 2.1vw;
}

.left-bottom-child {
  height: 15vh;
  width: 25vw;
  background-color: lightblue;
  font-size: 0.9vw;
}

.img-p1 {
  height: 40vh;
  width: 25vw;
}

.h1-top {
  margin-left: 6%;
  margin-top: 2%;
}
